<form [formGroup]="createMessageForm">
  <input
    appMyInput
    formControlName="receiverMail"
    type="text"
    placeholder="შეიყვანეთ მეილი"
    [ngClass]="{ 'input-error': hasFormControlError('receiverMail') }"
  />
  <input
    appMyInput
    formControlName="subject"
    type="text"
    placeholder="შეიყვანეთ თემა"
    [ngClass]="{ 'input-error': hasFormControlError('subject') }"
  />
  <textarea
    [ngClass]="{ 'input-error': hasFormControlError('body') }"
    appMyInput
    formControlName="body"
    name=""
  ></textarea>

  <ng-container *ngIf="receiverUsers$ | async as receiverUsers">
    <div *ngIf="receiverUsers.length" class="receiver-users">
      <ng-container *ngFor="let user of receiverUsers">
        <span (click)="selectReceiver(user)"> {{ user }} </span>
      </ng-container>
    </div>
  </ng-container>
</form>

<button
  (click)="onSubmit()"
  class="send-button"
  [disabled]="createMessageForm.invalid"
  appMyBtn
>
  გაგზავნა
</button>
