<ng-container
  *ngFor="
    let msg of messages | paginate : { itemsPerPage: 6, currentPage: page }
  "
>
  <div class="pointer item">
    <div class="d-flex jc-btw">
      <h1 class="message-sender c-white">{{ inbox ? msg.from : msg.to }}</h1>
      <p class="message-date c-white">{{ msg.date | date }}</p>
    </div>
    <p class="message-subject">
      Subject:
      {{ msg.subject | msgSubj }}
    </p>
    <p class="message-body">
      {{ msg.body | msgBody }}
    </p>
    <span [ngClass]="{ unread: !msg.read }"></span>
  </div>
</ng-container>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
