<div class="wrapper">
  <div class="navigation-wrapper">
    <div class="navigation">
      <a routerLink="create" routerLinkActive="active">
        <i class="material-symbols-outlined fz-40i c-white"> mail </i>
      </a>
      <a routerLink="inbox" routerLinkActive="active">
        <i class="material-symbols-outlined fz-40i c-white"> inbox </i>
      </a>
      <a routerLink="outbox" routerLinkActive="active">
        <i class="material-symbols-outlined fz-40i c-white"> outbox </i>
      </a>
    </div>
    <a routerLink="../user-not-logged/login">
      <i class="material-symbols-outlined fz-40i c-white"> logout </i>
    </a>
  </div>
  <div class="conversation">
    <router-outlet></router-outlet>
  </div>
</div>
