<div class="wrapper">
  <div class="navigation-wrapper">
    <div class="navigation">
      <a routerLink="inbox">
        <i class="material-symbols-outlined fz-40i i-white"> inbox </i>
      </a>
      <a routerLink="outbox">
        <i class="material-symbols-outlined fz-40i i-white"> outbox </i>
      </a>
      <a routerLink="important">
        <i class="material-symbols-outlined fz-40i i-white"> hotel_class </i>
      </a>
      <a routerLink="deleted">
        <i class="material-symbols-outlined fz-40i i-white"> delete </i>
      </a>
    </div>
    <a>
      <i class="material-symbols-outlined fz-40i i-white"> logout </i>
    </a>
  </div>
  <div class="conversation">
    <router-outlet></router-outlet>
  </div>
</div>
