.my-input {
  background: none;
  border: none;
  height: 50px;
  color: white;
  outline: none;
  border-bottom: 2px solid white;
  transition: all 0.3s linear;
}

.input-error {
  border-color: #b30404 !important;
}

.my-btn {
  width: 100%;
  color: white;
  background: none;
  border: 0.5px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.martop10 {
  margin-top: 10px;
}
.martop15 {
  margin-top: 15px;
}
.martop20 {
  margin-top: 20px;
}
.marbot10 {
  margin-bottom: 10px;
}
.marbot15 {
  margin-bottom: 15px;
}
.marbot20 {
  margin-bottom: 20px;
}

// colors

.c-white {
  color: white;
}

// font-size

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-30 {
  font-size: 30px;
}

.fz-40i {
  font-size: 40px !important;
}

///////////////////////

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.no-messages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
}

// icons

i:hover {
  animation: icon-hover 0.2s linear 2;
}

@keyframes icon-hover {
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
  75% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg);
  }
}

// display flex

.d-flex {
  display: flex;
}

.jc-btw {
  justify-content: space-between;
}

// forms

form {
  ::placeholder {
    color: white;
    font-size: 16px;
  }
}
